{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit My Car for Rent</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Julius Sans One">
</head>
<body>
    <nav class="navbar sticky-top bg-body-tertiary">
        <div class="navbar-container">
            <a href="{% url 'list_of_my_cars_for_rent' %}" class="navbar-link">Back to car list</a>
        </div>
    </nav>
    <div class="add-edit">
    <h2>Edit My Car for Rent</h2>

    <div class="add">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <label for="name">Car Name:</label>
        <input type="text" name="name" value="{{ car.name }}" required><br><br>
    
        <label for="brand">Brand:</label>
        <select name="brand">
            {% for brand in brands %}
                <option value="{{ brand.id }}" {% if car.brand.id == brand.id %}selected{% endif %}>{{ brand.name }}</option>
            {% endfor %}
        </select><br><br>

        <label for="oil_type">Oil Type:</label>
        <select name="oil_type">
            {% for oil in oil_types %}
                <option value="{{ oil.id }}" {% if car.oil_type.id == oil.id %}selected{% endif %}>{{ oil.oil_type }}</option>
            {% endfor %}
        </select><br><br>

        <label for="description">Description:</label>
        <textarea name="description" rows="4" cols="50">{{ car.description }}</textarea><br><br>
    
    
        <label for="price">Price Per Day:</label>
        <input type="number" name="price_per_day" value="{{ car.price_per_day }}" step="0.01" required><br><br>
    
        <label for="mileage">Mileage:</label>
        <input type="number" name="mileage" value="{{ car.mileage }}" step="0.01" required><br><br>
    
        <label for="front_image">Car Image:</label>
        <input type="file" name="rent_car_image" accept="image/*">
        {% if car.rent_car_image %}
            <p>Current:</p>
            <img src="{{ car.rent_car_image.url }}" alt="Right Side Image" width="100">
        {% endif %}
        
        <br><br>
        <div class="add-car-button-container">
        <button type="submit">Save Changes</button></div>
    </form>
    </div></div>
</body>
</html>
