{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Cars for Sale</title>
   
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Julius Sans One">
</head>
<body>
    <nav class="navbar sticky-top bg-body-tertiary">
        <div class="navbar-container">
            <a href="{% url 'view_profile' %}" class="navbar-link">Back to profile</a>
        </div>
    </nav>
    
        <h1>My Cars for Sale</h1>

        {% if my_cars %}
        <div class="card-container">
            {% for car in my_cars %}
            <a href="{% url 'sale' car.id %}"><div class="card">
                    <h3>{{ car.name }}</h3>
                    <p><strong>Brand:</strong> {{ car.brand.name }}</p>
                    {% if car.front_image %}
                        <img src="{{ car.front_image.url }}" alt="Front Image">
                    {% else %}
                        <p>No Image Available</p>
                    {% endif %}
                    
                </div>
            {% endfor %}
        </div></a>
        {% else %}
            <p>No cars available for sale at the moment.</p>
        {% endif %}
    
</body>
</html>






