<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars for Sale</title>
    <style>
        /* Basic styling for the table */
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f4f4f4;
        }
        tr:hover {
            background-color: #f1f1f1;
        }
    </style>
</head>
<body>

<h1>Cars Available for Sale</h1>

{% if cars %}

    <table>
        <thead>
            <tr>
                <th> </th>
                <th>Car Name</th>
                <th>Brand</th>
                <th>Oil Type</th>
                <th>Price Per Day</th>
                <th>Mileage</th>
                <th>Description</th>
                <th>Image</th>
                <th> </th>
                <th> </th>
                <th> </th>

            </tr>
        </thead>
        <tbody>
            {% for car in cars %}
                <tr>
                    <td> {{car.user.Name}}</td>
                    <td>{{ car.name }} </td>
                    <td>{{ car.brand.name }}</td>
                    <td>{{ car.oil_type }}</td>
                    <td>{{ car.price_per_day }}</td>
                    <td>{{ car.mileage }} km/l</td>
                    <td>{{ car.description }}</td>
                    <td>
                        {% if car.rent_car_image %}
                            <img src="{{ car.rent_car_image.url }}" alt="image" width="50">
                        {% else %}
                            <p>No Image</p>
                        {% endif %}
                    </td>
                    <td> <a href="{{ car.user.my_location_link }}" target="_blank"> <button>Find Owner Location  </button> </a></td>
                    <td>
                       
                            <a 
                                href="https://wa.me/{{ car.user.Phone}}?text=Hi%20{{ car.user.Name }}%2C%20I'm%20interested%2C%20please%20share%20more%20details%20about%20this%20{{ car.name }}."
                                class="whatsapp-button"
                                target="_blank">
                                <button>Chat with WhatsApp</button> 
                            </a>
                    
                    </td>
                    <td> <a 
                        href="https://vahan.parivahan.gov.in/vahanservice/vahan/ui/home.html" 
                        class="mparivahan-button" 
                        target="_blank"><button>
                        Verify with mParivahan
                    </button></a></td>
                  
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No cars available for Rent at the moment.</p>
{% endif %}

</body>
</html>
